@tailwind base;
@tailwind components;
@tailwind utilities;

p,
span {
  @apply font-body;
}

.containers {
  @apply container;
}

.layout {
  @apply flex flex-col min-h-screen;
}

.col-mobile-1 {
  @apply grid-cols-1 gap-6;
}
.col-mobile-2 {
  @apply grid-cols-2 gap-6;
}
.col-mobile-3 {
  @apply grid-cols-3 gap-6;
}
.col-mobile-4 {
  @apply grid-cols-4 gap-6;
}

@media (min-width: 768px) {
  .col-tablet-1 {
    @apply md:grid-cols-1 md:gap-6;
  }
  .col-tablet-2 {
    @apply md:grid-cols-2 md:gap-6;
  }
  .col-tablet-3 {
    @apply md:grid-cols-3 md:gap-6;
  }
  .col-tablet-4 {
    @apply md:grid-cols-4 md:gap-6;
  }
}

@media (min-width: 1024px) {
  .col-desktop-1 {
    @apply lg:grid-cols-1 lg:gap-6;
  }
  .col-desktop-2 {
    @apply lg:grid-cols-2 lg:gap-6;
  }
  .col-desktop-3 {
    @apply lg:grid-cols-3 lg:gap-6;
  }
  .col-desktop-4 {
    @apply lg:grid-cols-4 lg:gap-6;
  }
}

.menu__lines::before,
.menu__lines::after {
  content: '';
  position: absolute;
  width: 2.4rem;
  height: 3px;
  background: #000;
  transition: all 1s cubic-bezier(1, -0.03, 0.03, 1.36) 0s;
}
.menu__lines.open::before,
.menu__lines.open::after {
  background: #fff;
}
.menu__lines::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -0.4rem) rotate(0deg);
}
.menu__lines::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0.3rem) rotate(0deg);
}

.menu__lines.open::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu__lines.open::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.logo {
  width: 138px;
  height: 54px;
}
.menu {
  width: 37px;
  height: 13px;
}
.search {
  width: 20px;
  height: auto;
}

.rotateText {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
}
.intro .image {
  width: calc(100vw - 25px);
  height: calc(100vw - 25px);
}

@media (min-width: 768px) {
  .logo {
    width: calc(277 / 1920 * 100vw);
    height: calc(109 / 1920 * 100vw);
  }

  .intro .image {
    width: calc(477 / 1920 * 100vw);
    height: 100%;
  }
}
