@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cursor-size: 50px;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

#cursor {
  @apply fixed pointer-events-none mix-blend-difference hidden md:block;
  top: calc(var(--cursor-size) * -0.5);
  left: calc(var(--cursor-size) * -0.5);
  filter: url(#circleSvg);
  z-index: 99;
}

.cursor__shape {
  @apply absolute top-0 left-0 bg-skyly dark:bg-gray-300 origin-center;
  width: var(--cursor-size);
  height: var(--cursor-size);
  border-radius: 100%;
}
.circleSvg {
  display: none;
}
p,
span {
  @apply font-body;
}
body::before {
  animation: grain 8s steps(10) infinite;
  background-image: url('/noise.png');
  content: '';
  height: 300%;
  left: -50%;
  opacity: 0.1;
  position: fixed;
  top: -100%;
  width: 300%;
  z-index: -99;
}
@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

.containers {
  @apply container;
}

.col-mobile-1 {
  @apply grid-cols-1 gap-6;
}
.col-mobile-2 {
  @apply grid-cols-2 gap-6;
}
.col-mobile-3 {
  @apply grid-cols-3 gap-6;
}
.col-mobile-4 {
  @apply grid-cols-4 gap-6;
}

.marquee {
  @apply absolute overflow-hidden top-0 left-0 leading-snug;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  mix-blend-mode: color-burn;
}

.marquee__inner {
  @apply relative flex w-fit;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
  transition: opacity 0.1s;
  opacity: 0;
}

.marquee span {
  @apply leading-snug;
  font-size: 10vw;
  padding: 0 2vw;
}

.nav__link:hover + .marquee .marquee__inner,
.nav__item:hover .nav___image {
  animation-play-state: running;
  opacity: 1;
  z-index: 99;
}

.nav__link:hover {
  opacity: 0;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

@media (min-width: 768px) {
  .col-tablet-1 {
    @apply md:grid-cols-1 md:gap-6;
  }
  .col-tablet-2 {
    @apply md:grid-cols-2 md:gap-6;
  }
  .col-tablet-3 {
    @apply md:grid-cols-3 md:gap-6;
  }
  .col-tablet-4 {
    @apply md:grid-cols-4 md:gap-6;
  }
}

@media (min-width: 1024px) {
  .col-desktop-1 {
    @apply lg:grid-cols-1 lg:gap-6;
  }
  .col-desktop-2 {
    @apply lg:grid-cols-2 lg:gap-6;
  }
  .col-desktop-3 {
    @apply lg:grid-cols-3 lg:gap-6;
  }
  .col-desktop-4 {
    @apply lg:grid-cols-4 lg:gap-6;
  }
}

.menu__lines::before,
.menu__lines::after {
  @apply dark:bg-gray-300 bg-gray-900;
  content: '';
  position: absolute;
  width: 2.4rem;
  height: 3px;
  transition: all 1s cubic-bezier(1, -0.03, 0.03, 1.36) 0s;
}

.menu__lines::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -0.4rem) rotate(0deg);
}
.menu__lines::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0.3rem) rotate(0deg);
}

.menu__lines.open::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu__lines.open::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.logo {
  width: 138px;
  height: 54px;
}
.menu {
  width: 37px;
  height: 13px;
}
.search {
  width: 20px;
  height: auto;
}

@layer utilities {
  .rotate-text-vertical-rl {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
  }
  .rotate-text-none {
    writing-mode: revert;
    -webkit-writing-mode: revert;
  }
}

.intro .image {
  width: calc(100vw - 25px);
  height: calc(100vw - 25px);
}

@media (min-width: 768px) {
  .logo {
    width: calc(277 / 1920 * 100vw);
    height: calc(109 / 1920 * 100vw);
  }

  .intro .image {
    width: calc(477 / 1920 * 100vw);
    height: 100%;
  }
}
